= simple_form_for @staff do |f|
	= f.input :staff_name
	= f.input :job_title
	= f.input :staff_img
	= f.input :other_duties
	= f.input :status
	= f.input :url
	= f.input :employee_since
	= f.input :employee_until

	= f.button :submit